.tabs__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  border: 1px solid blue;
}

.tabs__wrapper {
  display: flex;
  flex-direction: row;
  height: 50px;
  width: 100%;
  background: rgba(254, 254, 254, 1);   
}

.tab {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 50px;
  gap: 10px;
  padding: 17px 20px 17px 20px;

  &:hover {
    cursor: pointer;
    background: rgba(127, 133, 141, 1);
    color: white;
    img {
      filter: brightness(0) invert(1);
    }
  }
}

.sepparator {
  width: 1px;
  height: 15px;
  background: rgba(174, 182, 206, 0.2);
  margin: auto 0;
}
