.tabs__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  border: 1px solid blue;
}

.tabs__wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  height: 50px;
  width: 100%;
  gap: 5px;
  background: rgba(254, 254, 254, 1);

  overflow: hidden;
}

.menu__button {
  outline: none;
  border: none;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(70, 144, 226, 1);

  img {
    transform: rotate(180deg);
    transition: transform 0.3s ease;
  }
  &:hover {
    cursor: pointer;

    img {
      transform: rotate(0deg);
    }
  }
}

.tab {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 50px;
  gap: 10px;
  padding: 17px 20px 17px 20px;

  &:hover {
    cursor: pointer;
    background: rgba(127, 133, 141, 1);
    color: white;
    img {
      filter: brightness(0) invert(1);
    }
  }
}

.sepparator {
  width: 1px;
  height: 15px;
  background: rgba(174, 182, 206, 0.2);
  margin: auto 0;
}
